@charset "utf-8";

$scheme-main: #383838;
$scheme-invert: #b8edc2;
$text-strong: #12e000;

@import "../node_modules/bulma/bulma.sass";

.m-text {
  font-size: 1.3rem;
  color: $success;
}

.spacing-top {
  padding-top: 3rem;
}

.invite-input-field {
  height: 10rem;
  font-size: 3rem;
}
