{% extends "base.html" %} {% block content %}
<div class="container">
  <h2 class="title is-2">Home page</h2>

  <p class="has-text-info is-size-4">What is this site?</p>
  <br />
  <p class="has-text-info is-size-4">
    This is a <strong>collaborative Phasmophobia journal</strong>. Many sites,
    including
    <a href="https://matt-phasmo-selector.surge.sh/">one of my own</a>, have
    been created to assist people playing the game
    <a href="https://store.steampowered.com/app/739630/Phasmophobia/">
      Phasmophobia
    </a>
    on Steam.
  </p>
  <br />
  <p class="has-text-info is-size-4">
    To start, you've already been randomly assigned a name. Feel free to change
    it below. This is used so that people you're in a game with can see who is
    making journal updates. This site does not require a login.
  </p>
  <br />
  <p class="has-text-info is-size-4">
    After getting your name in order, click on the "Rooms" link in the navbar
    above, and enter the 6-digit invite code of the lobby you and friends are
    inside in Phasmophobia, and give them that link (it's an easy URL). Then,
    you all can make updates and you'll all see them, real-time.
  </p>

  <hr />

  <h3 class="subtitle is-4 has-text-success">Set your username</h3>
  <div class="columns" id="name-form">
    <div class="column is-4">
      <div class="field">
        <div class="control">
          <input type="text" class="input" placeholder="Name" v-model="name" />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button
            class="button is-link is-info"
            @click="saveName"
            :disabled="!saveButtonEnabled"
          >
            Change
          </button>
        </div>
      </div>
    </div>
    <div style="display: none" v-show="pickedRandom">
      <br />
      <p class="has-text-info">
        This name was randomly picked; feel free to change it
      </p>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    Vue.createApp({
      data() {
        return {
          name: "",
          pickedRandom: false,
        };
      },
      mounted() {
        this.name = localStorage.getItem("name");
        this.pickedRandom = localStorage.getItem("pickedRandom");
        localStorage.removeItem("pickedRandom");
      },
      methods: {
        saveName(event) {
          event.preventDefault();
          localStorage.setItem("name", this.name);
        },
      },
      computed: {
        saveButtonEnabled() {
          return this.name.length > 0;
        },
      },
    }).mount("#name-form");
  });
</script>

{% endblock %}
